.video-icon {
    margin-top: 200px;
    width:140px;
}
.guide-text {
    margin: 20px 0;
    font-size: 16px;
    color: #FFF;
}
.guide-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 196px;
    height: 42px;
    background: rgb(57, 134, 238);
    border-radius: 20px;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    border: 0;
}